# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.StairBuilder.iml
# Datasource local storage ignored files
/../../../../../../../:\unreal\git_unity\StairBuilder\.idea\.idea.StairBuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
